<h1 class="text-center">Encrypt-Decrypt App</h1>

<br>

<button 
        type="button"
        class="btn btn-primary btn-lg btn-block"
        (click)="changeMode()">
        
        Toggle Mode ({{ encryptMode ? "Encryption" : "Decryption" }})

</button>

<br>

<div class="form-group">
  <label for="txtTextToConvert">{{ encryptMode ? "Plain" : "Encrypted" }} Text</label>
  <input 
          type="text"
          class="form-control"
          id="txtTextToConvert"
          placeholder="Enter text you want to {{ encryptMode ? 'encrypt' : 'decrypt' }}"       
          [(ngModel)]="textToConvert"
  >
</div>

<div class="form-group">
  <label for="txtSecretKey">Password</label>
  <input 
          type="text"
          class="form-control"
          id="txtSecretKey"
          placeholder="Enter {{ encryptMode ? 'encryption' : 'decryption' }} Secret Key"   
          maxlength="16"      
          [(ngModel)]="password"
  >
</div>

<textarea class="form-control" readonly rows="3">{{conversionOutput}}</textarea>

<br>

<button type="button" class="btn btn-success" (click)="convertText()">{{ encryptMode ? "Encrypt" : "Decrypt" }}</button>